
header {
    padding: 1rem 0rem;
    color: #2E8B57	;
    margin-bottom: 16px;
    background-color: #1C1C1C;
    align-items: center;

}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
  
}

header .container,
section .container {
    display: flex;
    justify-content: space-between;
   align-items: center;
    
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-weight: normal;
    align-items: center;
    
}

a {
   
    color: #2E8B57;
    text-decoration: none;
    font-size: 18px;

   }



.img-hades {
   
   height: 550px;
   width: 700px;
   
    
}


#about .container  {
    align-items: flex-start;
    font-family: 'Lora', serif;
    color:	#255725;
   
   
}

#about .container p {
    margin-left: 16px;
    font-size: 20px;
   
}

section {
    padding: 24px 0;
}


#about .container h2 {
    font-family: 'Bungee', sans-serif;
    font-weight: normal;
    font-size: 1.7rem;
    color: #2E8B57;
    margin-left: 15px;
    align-items: flex-start;
    margin-bottom: 10px;
   

}

#about .container div p {
    margin-bottom: 25px;
    align-items: flex-start;
    
    
}

.platform_links {
        display: flex;
        gap: 19px;
        list-style: none;
        margin-left: 15px;
        margin-bottom: 15px;
    }

 #about .container .platform_links img {
    height: 22px;
}

    
form input, label, textarea, form button {

    display: block;
    padding: 8px;   
    width: 320px;
    margin-bottom: 3px;

}

form textarea {
    resize: none;
    width: 320px;
    height: 160px;
    text-decoration: none;

}
  
form button {
    width: 320px;
    height: 50px;
    margin-top: 10px;
}

.social-links img {
    height: 24px;
    list-style-type: none;
    
}

.social-links {
    display: inline;
    list-style-type: none;

}


#inscrição .container {
    display: block;
}


.cadastro {
    display: flex;
    justify-content: space-between;
}

#inscrição div {
    color:#255725
}

form button {
    background-color:  #2E8B57;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #255725;
}

footer {
    padding: 1rem 0;
    color:#2E8B57;
    background-color: #1C1C1C;
    
}